[Desktop Entry]
Name=IndiaBIX
Comment=Aptitude, reasoning, and technical questions
Exec=xdg-open https://www.indiabix.com/
Icon=indiabix.png
Terminal=false
Type=Application
Categories=X-Interview;
StartupNotify=true

