[Desktop Entry]
Name=Pramp
Comment=Practice coding interviews with peers
Exec=xdg-open https://www.pramp.com/#/
Icon=pramp.png
Terminal=false
Type=Application
Categories=X-Interview;
StartupNotify=true

