[Desktop Entry]
Name=GeeksforGeeks Puzzles
Comment=Programming and logical puzzles for interviews
Exec=xdg-open https://www.geeksforgeeks.org/category/puzzles/
Icon=geeksforgeeks.png
Terminal=false
Type=Application
Categories=X-Interview;
StartupNotify=true
