[Desktop Entry]
Name=Elevator Saga
Comment=Programming game to control elevators
Exec=xdg-open http://play.elevatorsaga.com/
Icon=elevator
Terminal=false
Type=Application
Categories=Game;Web;
StartupNotify=true
