[Desktop Entry]
Name=Exercism
Comment=Practice programming exercises with mentorship
Exec=xdg-open https://exercism.org/
Icon=excerism
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
