[Desktop Entry]
Version=1.0
Name=Roadmap
Comment=Roadmap
Exec=xdg-open https://roadmap.sh/
Icon=roadmap-sh.png
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
