[Desktop Entry]
Version=1.0
Type=Application
Name=DevSetup
Comment=simple way to install your programming apps 
Exec=xdg-open https://codecompasss.github.io/DevSetup/
Icon=codecompass
Categories=X-CodeCompass;
Terminal=false
